[submodule "FullHeightToolbar"]
	path = FullHeightToolbar
	url = git://github.com/Uncommon/FullHeightToolbar.git
[submodule "objective-git"]
	path = objective-git
	url = git://github.com/libgit2/objective-git.git
[submodule "siesta"]
	path = siesta
	url = https://github.com/bustoutsolutions/siesta.git
