.DS_Store
*.swp
*~.nib

libgit2-mac.a

.idea/
build/

*.pbxuser
*.perspective
*.perspectivev3
*.xccheckout

*.mode1v3
*.mode2v3

xcuserdata
DerivedData

# User-specific xcconfig files
Xcode-config/DEVELOPMENT_TEAM.xcconfig
