[submodule "objective-git"]
	path = objective-git
	url = git://github.com/libgit2/objective-git.git
[submodule "siesta"]
	path = siesta
	url = https://github.com/bustoutsolutions/siesta.git
[submodule "apollo-ios"]
	path = apollo-ios
	url = https://github.com/apollographql/apollo-ios.git
