<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showColumns</key>
	<array>
		<string>commit</string>
		<string>author</string>
		<string>authorDate</string>
	</array>
	<key>deemphasizeMerges</key>
	<true/>
	<key>resetAmend</key>
	<true/>
	<key>stripComments</key>
	<true/>
</dict>
</plist>
