body {
  background-color: F8F8F8;
  font-family: "SF Mono", monospace;
  margin: 0px;
  counter-reset: line;
  tab-size: 4;
}
table {
  background-color: #EEE;
  border: 0;
  border-collapse: collapse;
  float: left;
  width: 100%;
  margin-left: 2.5em;
  font-size: 12;
}
td {
  vertical-align: top;
  padding: 0;
  border-bottom: 1px solid white;
}
div.line {
  min-height: 1em;
  padding-left: 1ex;
  border-left: 1px #AAA solid;
  white-space: pre-wrap;
}
div.line:before {
  content: counter(line);
  counter-increment: line;
  margin-top: 2px;
  width: 22px;
  position: absolute;
  left: 3px;
  text-align: right;
  font-size: 0.75em;
  -webkit-user-select: none;
}

.name {
  font-family: Helvetica, sans-serif;
}
.local {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
}

.blamehead {
  width: 20ex;
  border-bottom: 1px solid #AAA;
  padding-left: 3px;
  opacity: 0.8;
  -webkit-user-select: none;
  cursor: default;
}
