:root {
    --addBackground: #DFD;
    --background: #F8F8F8;
    --blameBorder: white;
    --buttonActiveBorder: #AAA;
    --buttonActiveGrad1: #EEE;
    --buttonActiveGrad2: #DDD;
    --buttonBorder: #BBB;
    --buttonGrad1: #FFF;
    --buttonGrad2: #EEE;
    --deleteBackground: #FDD;
    --divider: lightgray;
    --heading: #EEE;
    --hunkBottomBorder: #BBB;
    --hunkTopBorder: #DDD;
    --jumpActive: white;
    --jumpHoverBackground: rgba(255, 255, 255, 0.5);
    --shadow: lightgray;
    --textColor: black
}

