body {
  font-family: Helvetica;
  font-size: 12;
  line-height: 16px;
}
.name { font-weight: bold }
.date { color: #888; float: right }
.label {
  font-weight: bold; color: #888;
  cursor: default;
  -webkit-user-select: none;
}
.nametag {
  cursor: default;
  -webkit-user-select: none;
}
.shablock { float: right }
body > div { margin-top: 4px }
.parent {
  padding: 2px;
  margin-left: 1em;
  border-radius: 3px;
  cursor: default;
  -webkit-user-select: none;
}
.parent:hover {
  background-color: #d7e5ff;
}

#table {
  display: table;
  width: 100%;
}
#row { display: table-row }
.cell { display: table-cell }
